{% extends "base.html" %}
{% block content %}
{%load static%}
    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 id="xx" class="m-0 text-uppercase font-weight-bold" >About us </h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">
                            <h6 class="text-uppercase font-weight-bold">Contact Info</h6>
                            <p class="mb-4">Legit Edu Consults is a education based website, It a platform that disseminate quality, credible and dependable information regarding various happenings in education system of Nigeria and nationwide.
                                <br>
                                <p>Our services include providing;</p>
                                <p>
                                   Registration into any Institution,  Admission updates, Scholarships updats, Campus news, Counselling,  Admission Guidance,  Business Consutant, ICT Consults...etc
                                </p>


                                <!-- mission statement  -->
                                <h4 id="xx" class="m-0 text-uppercase font-weight-bold" >Mission Statement</h4>
                                <p>To educate students to the highest level of academic achievement in other to enable them reach and expand their potentials and prepare them to become productive, responsibl, ethical, creative and compassionate intellectuals.</p>

                                <h4 id="xx" class="m-0 text-uppercase font-weight-bold" >Vission Statement</h4>
                                <p>To become topnotch educationist, delivering reliable and trusted education news to the general public.</p>
                                <!-- mission statement  -->

                                <!-- meet our team start here -->
                             <div class="section-title mb-0">
                                    <h4 id="xx" class="m-0 text-uppercase font-weight-bold" >MEET OUR TEAM</h4>
                                </div> <br>
                                <div class="row">
                                    <div class="col-6">
                                            <img src="{%static 'img/sem.png'%}" alt="" height="200px" width="200px">
                                            <p><b>Tande Semeton</b><i> 
                                                <a id="btn-btn" class="btn btn-secondary btn-sm"  href="https://twitter.com/OTandson?t=ABrFdGdjz9fLrF3K8A&s=09"><i class="fab fa-twitter"></i></a>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm" href="https://www.facebook.com/timothy.tande"><i class="fab fa-facebook-f"></i></a>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm" href="linkedin.com/in/tande-semeton-43820a213"><i class="fab fa-linkedin-in"></i></a>
                                                <br>Founder & CEO</i></p>
                                    </div>
                                    <div class="col-6">
                                        <img src=" {%static 'img/S_I.jpg'%}" alt="" height="200px" width="200px">
                                        <p><b>Avoseh Isaac</b><i> 
                                            <a id="btn-btn" class="btn btn-secondary btn-sm"  href="https://mobile.twitter.com/IsaacAvoseh"><i class="fab fa-twitter"></i></a>
                                            <a id="btn-btn" class="btn btn-secondary btn-sm" href="https://www.facebook.com/profile.php?id=100009572149181"><i class="fab fa-facebook-f"></i></a>
                                            <a id="btn-btn" class="btn btn-secondary btn-sm" href="https://www.linkedin.com/in/isaacavoseh"><i class="fab fa-linkedin-in"></i></a>
                                            <br> IT Expert & Counsultant</i></p>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                            <img src=" {%static 'img/COMR 2.jpg'%} " alt="" height="200px" width="200px">
                                            <p><b>Oke Obadiah</b><i>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm"  href="https://twitter.com/Okeobadiah?t=6cC2mJGxrSuK9g7OP2ViPw&s=09"><i class="fab fa-twitter"></i></a>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm" href="https://www.facebook.com/oke.obadiah.5"><i class="fab fa-facebook-f"></i></a>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm" href="linkedin.com/in/oke-obadiah-42a02122b"><i class="fab fa-linkedin-in"></i></a>
                                                <br>Content Manager</i></p>
                                    </div>
                                    <div class="col-6">
                                    <img src=" {%static 'img/Legit.jpg'%}" alt="" height="200px" width="200px">
                                        <p><b>LegitEduConsults</b><i>
                                            <a id="btn-btn" class="btn btn-secondary btn-sm"  href="#"><i class="fab fa-twitter"></i></a>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a id="btn-btn" class="btn btn-secondary btn-sm" href="#"><i class="fab fa-linkedin-in"></i></a> 
                                        <br> Counsultant</i></p>
                                </div>
                                </div>

            			<div class="mb-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">1000+ Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">500+ Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">550+ Connects</span>
                            </a>
                            <a href="https://www.instagram.com/legit_edu_consults/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">1000 Followers</span>
                            </a>
                            
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">3,000 Subscribers</span>
                            </a>
                            <!-- <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span> -->
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Subscribe to receive our daily email updates. <br> We serve you with your favourite news daily.</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}