{%extends 'base.html'%}
{%block content%}
<div class="container">
<br><br><br><h2>Page under construction. </h2><hr><h3>Please come back later</h3>
    <img src="https://th.bing.com/th/id/R.afe1465e67bad888eb3858b11a20c470?rik=FF89FttF05et6Q&riu=http%3a%2f%2fpageunderconstruction.weebly.com%2fuploads%2f1%2f1%2f4%2f1%2f11410642%2fpage-under-construction_orig.jpg&ehk=28ZwWQzUal0CCQxYtJylJSW8tX%2fFdK3yx1ATs2pUPWw%3d&risl=&pid=ImgRaw&r=0" alt="" srcset="" style="height: 300px; width: 500px">

</div>
{%endblock%}