{% extends "base.html" %}
{% block content %}
{% load static %}
    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Get in Tourch with us </h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">
                            <h6 class="text-uppercase font-weight-bold">Contact Info</h6>
                            <p class="mb-4">Contact us at Legit Edu Consults for your updates on admission, Jamb News, Institutions, and education trendings as a whole. Our support desk is available 24/7. <br>We serve you the best you'll ever think of.
            							<div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Our Office</h6>
                                </div>
                                <p class="m-0">Temporarily Lasustech Isolo Campus</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-envelope-open text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Email Us</h6>
                                </div>
                                <p class="m-0">www.legiteduconsults@gmail.com</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-phone-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Call Us</h6>
                                </div>
                                <p class="m-0">+234 907 945 3337, 08142069709</p>
                            </div>
                        </div>
                        <h6 class="text-uppercase font-weight-bold mb-3">Contact Us</h6>
<!--                       <form method="post">-->
<!--                           {%csrf_token%}-->
<!--                           {{form.as_p}}-->
<!--                           <button type="submit">send</button>-->
<!--                       </form>-->
                        <form method="post">
                        {%csrf_token%}
                     <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <input type="text" name="name" class="form-control p-4" maxlength="100" placeholder="Your Name" required id="id_name">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <input type="email" name="email" class="form-control p-4" placeholder="Your Email"maxlength="320" required id="id_email">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control p-4" placeholder="Subject" maxlength="200" required id="id_subject">
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="4" placeholder="Message"  cols="40" rows="10" required id="id_message"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                    type="submit">Send Message</button>
                            </div>
<!--                      <form method="post">-->
<!--                            <input type="hidden" name="csrfmiddlewaretoken" value="6k3OnHaOwPChlnZuvCGNQ8Z1Mzt8mrjIJhtYUws0PUDzG4SYNCt11Uu89kuMIenu">-->
<!--                            <p>-->
<!--    <label for="id_name">Your Name:</label>-->
<!--    <input type="text" name="name" maxlength="100" required id="id_name">-->
<!--  </p>-->
<!--  <p>-->
<!--    <label for="id_email">Your Email:</label>-->
<!--    <input type="email" name="email" maxlength="320" required id="id_email">-->
<!--  </p>-->
<!--  <p>-->
<!--    <label for="id_subject">Subject:</label>-->
<!--    <input type="text" name="subject" maxlength="200" required id="id_subject">-->
<!--  </p>-->
<!--  <p>-->
<!--    <label for="id_message">Your Message:</label>-->
<!--    <textarea name="message" cols="40" rows="10" required id="id_message">-->
<!--</textarea>-->

<!--  </p>-->
<!--                            <button type="submit">send message</button>-->
<!--                        </form>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">1000+ Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">500+ Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">550+ Connects</span>
                            </a>
                            <a href="https://www.instagram.com/legit_edu_consults/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">1000 Followers</span>
                            </a>
                            
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">3,000 Subscribers</span>
                            </a>
                            <!-- <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span> -->
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Subscribe to receive our daily email updates. <br> We serve you with your favourite news daily.</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}