<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<br>
<br>
<body id="hidden_page" >
    <h3>Do you wish to advertise your busniess with us?</h3>
    <p>We can help you grow your business, maximum audience is guaranteed</p>
    <p>Our plans are very affordable, Grab it now!!!</p>
    <h5>Kindy hits us on the contacts below.</h4>
    <h5> <a href="tel: +2349079453337">09079453337</a> or;</h5>
    <h5> <a href="tel: +2348142069709">08142069709</a> or;</h5>
    <h5> <a href="tel: +2348039261902">08039261902</a></h5>

    <p>You can also send us <a href="mailto:legiteduconsults@gmail.com"> Email </a> </p>

    <p>Thanks for reaching us!!!</p>

    <button class="btn btn-secondary btn-xl" > <a href="index.html">Back to Homepage </a> </button>
</body>
</html>