{%extends 'base.html'%}
{%block content%}

<h3>Search results for "{{query}}"</h3>

<br><br>
<!--<div class="container">-->
    <div class="container">
<div class="row">
    {%for results in results%}
          <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="{{results.img_url}}" style="object-fit: cover; height: 300px;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                                                           {%for tag in results.tags.all%}
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">{{tag.name}}</a>
                                    {%endfor%}
                                    <a class="text-body" href=""><small>{{results.date}}</small></a>
                                </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{%url 'view' results.pk%}">{{results.title}}</a>
                                <p class="m-0">{{results.desc}}</p>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle mr-2" src="{{latest.authour_img}}" width="25" height="25" alt="">
                                    <small>{{results.authour}}</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>{{results.view_count}}</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
        {%empty%}
        <form method="get" action="{%url 'search'%}">
            <div class="input-group">
        <input class ="form-control" type="text" name="query" id="" placeholder="Search....">
        <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
    </form>

{%endfor%}

{%endblock%}
</div>
</div>

